@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&);

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --background: oklch(0.1828 0.0204 284.2039);
    --foreground: oklch(0.8787 0.0426 272.2767);
    --card: oklch(0.2429 0.0304 283.911);
    --card-foreground: oklch(0.8787 0.0426 272.2767);
    --popover: oklch(0.2429 0.0304 283.911);
    --popover-foreground: oklch(0.8787 0.0426 272.2767);
    --primary: oklch(0.7871 0.1187 304.7693);
    --primary-foreground: oklch(0.2429 0.0304 283.911);
    --secondary: oklch(0.324 0.0319 281.9784);
    --secondary-foreground: oklch(0.8787 0.0426 272.2767);
    --muted: oklch(0.324 0.0319 281.9784);
    --muted-foreground: oklch(0.8168 0.0403 272.8622);
    --accent: oklch(0.324 0.0319 281.9784);
    --accent-foreground: oklch(0.8787 0.0426 272.2767);
    --destructive: oklch(0.7556 0.1297 2.7642);
    --destructive-foreground: oklch(0.2155 0.0254 284.0647);
    --border: oklch(0.4037 0.032 280.152);
    --input: oklch(0.4037 0.032 280.152);
    --ring: oklch(0.8787 0.0426 272.2767);
    --chart-1: oklch(0.7556 0.1297 2.7642);
    --chart-2: oklch(0.8585 0.0792 182.7495);
    --chart-3: oklch(0.7664 0.1113 259.885);
    --chart-4: oklch(0.9193 0.0704 86.5281);
    --chart-5: oklch(0.8583 0.1086 142.3382);
    --sidebar: oklch(0.2429 0.0304 283.911);
    --sidebar-foreground: oklch(0.8787 0.0426 272.2767);
    --sidebar-primary: oklch(0.7871 0.1187 304.7693);
    --sidebar-primary-foreground: oklch(0.2429 0.0304 283.911);
    --sidebar-accent: oklch(0.2429 0.0304 283.911);
    --sidebar-accent-foreground: oklch(0.8787 0.0426 272.2767);
    --sidebar-border: oklch(0.4037 0.032 280.152);
    --sidebar-ring: oklch(0.7871 0.1187 304.7693);
    --font-sans: Geist Mono, monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.9rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-sm:
        0px 4px 6px 0px hsl(0 0% 0% / 0.12),
        0px 1px 2px -1px hsl(0 0% 0% / 0.12);
    --shadow:
        0px 4px 6px 0px hsl(0 0% 0% / 0.12),
        0px 1px 2px -1px hsl(0 0% 0% / 0.12);
    --shadow-md:
        0px 4px 6px 0px hsl(0 0% 0% / 0.12),
        0px 2px 4px -1px hsl(0 0% 0% / 0.12);
    --shadow-lg:
        0px 4px 6px 0px hsl(0 0% 0% / 0.12),
        0px 4px 6px -1px hsl(0 0% 0% / 0.12);
    --shadow-xl:
        0px 4px 6px 0px hsl(0 0% 0% / 0.12),
        0px 8px 10px -1px hsl(0 0% 0% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(0 0% 0% / 0.3);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground min-h-screen;
    }
}
